<!DOCTYPE html>
html(lang="en")
    head
        include  partials/header
        
    body.login
        .contenedor-formulario
            h1=nombrePagina
            p Añade tu nuevo password

            form.caja-login(method="POST")
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Password" )
                .campo.enviar
                    input.boton(type="submit" value="Recuperar contraseña")
                
                    
                