<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")        
        style
            include ./email.css
        
    body
        h2 Reestablecer Password
        p Hola, has solicitado reestablecer tu pass, haz click en el enlace... Este email tiene duración determinada
        a(href=`${resetUrl}`) Reset Password
        p Si no puedes acceder a este enlace, visita #{resetUrl}
        p Si no solicitastes este email, pro favor ignóralo